:root {
  --ifm-color-primary: #1f7a8c;
  --ifm-color-primary-dark: #1b6d7d;
  --ifm-color-primary-darker: #196774;
  --ifm-color-primary-darkest: #145560;
  --ifm-color-primary-light: #23879b;
  --ifm-color-primary-lighter: #258fa3;
  --ifm-color-primary-lightest: #2ca5bc;
}
